<section "indexwrap">
  <section class="leftcol">
    <h3>Search Pins</h3>
    <%= form_tag items_path, :method => 'get', html: {class: 'pure-form pure-form-aligned', multipart: true} do %>
      <section class='pure-control-group'>
        <%= label_tag :location %>
        <%= collection_select(:search, :location, Item::LOCATIONS, :to_s, :titleize, prompt: (@location ? params[:search][:location] : 'n/a')) %>
      </section>
      <br/>
      <section class='pure-control-group'>
        <%= label_tag :occasion %>
        <%= collection_select(:search, :occasion, Item::OCCASIONS, :to_s, :titleize, prompt: (@occasion ? params[:search][:occasion] : 'n/a')) %>
      </section>
      <br/>
      <section class='pure-control-group'>
        <%= label_tag :keyword %>
        <%= text_field_tag :keywordsearch, params[:keywordsearch] %>
      </section>
      <br/>
      <section class='pure-controls'>
        <%= submit_tag "Search", :name => nil %>
      </section>
    <% end %>

    <% if current_user %>
      <section class="userarea">
        <h3>Admin</h3>
        <% if current_user %>
          <p><%= link_to 'Add a new Pin', new_item_path, class:"addnew" %></p>
          <p><%= link_to 'Manage My Listed Pins', users_mylisted_path, class:"addnew" %></p>
        <% end %>
      </section>
    <% end %>

  </section>



  <section class="midcol">
    <% if @items.any? %>
      <% @items.each do |item| %>
        <%= link_to item do %>
          <section class="item_image">
            <p class="item_name">
              <%= item.name %> (<%= item.location.humanize.titleize %>)
            </p>
            <p class="image_thumb">
              <%= image_tag item.photo.url(:thumb) %>
            </p>
          </section>
        <% end %>
      <% end %>

    <% else %>
      <p class="no_match">Sorry, no items match your Search criteria.</p>
    <% end %>

  </section>



</section>